#app {
  font-family: Verdana, sans-serif;
  color: skyblue;
  width: 100%;

  a {
    display: block;
    width: 10em;
    text-decoration: none;
    margin: 2em auto;
    padding: 1em;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #339;
    background-color: skyblue;
    border-radius: 1em;
  }
}
